:root {
    --square-size: 100px;
    --background-color: #aacabe;
    --secondary-color: #5d8c8c;
    --outline-color: #104d5a;
}

body {
    font-family: "Audiowide", sans-serif;
    color: var(--outline-color);
    background-color: var(--background-color);
    padding: 8px;
}

.scoreboard {
    position: absolute;
}

.square {
    height: var(--square-size);
    width: var(--square-size);
    display: grid;
    box-sizing: border-box;
    place-items: center;
    cursor: pointer;
}

.winning-square-circle {
    background-color: var(--secondary-color);
}

.winning-square-circle::after {
    background-color: var(--secondary-color) !important;
}

.winning-square-cross {
    background-color: var(--secondary-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, calc(var(--square-size)));
    grid-template-rows: repeat(3, calc(var(--square-size)));
}

.main {
    display: grid;
    place-items: center;
    padding: 20px 0;
}

.controls {
    display: grid;
    place-items: center;
}

.header {
    text-align: center;
    margin-top: 7px;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

.turn {
    font-size: 32px;
    font-weight: 500;
}

.music {
    all: unset;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    right: 16px;
    bottom: 16px;
}

.togglepvp {
    all: unset;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    left: 16px;
    bottom: 16px;
}
.reset {
    all: unset;
    cursor: pointer;
    border: 2px solid var(--outline-color);
    text-align: center;
    font-size: 25px;
    width: 120px;
    height: 35px;
    padding: 5px;
}

.reset:hover {
    background-color: var(--outline-color);
    color: var(--background-color);
}

.forward:hover {
    background-color: var(--outline-color);
    color: var(--background-color);
}

.back:hover {
    background-color: var(--outline-color);
    color: var(--background-color);
}

.turncontrols {
    margin-top: 10px;
}

.turncontrols>button {
    all: unset;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border: 2px solid var(--outline-color);
    padding: 5px;
}

.theme-options {
    all: unset;
    cursor: pointer;
    position: absolute;
    border: 2px solid var(--outline-color);
    padding: 5px;
    right: 16px;
}

.theme-options:hover {
    background-color: var(--outline-color);
    color: var(--background-color);
}

.one {
    border-right: 2px solid var(--outline-color);
    border-bottom: 2px solid var(--outline-color);
}

.two {
    border-left: 2px solid var(--outline-color);
    border-right: 2px solid var(--outline-color);
    border-bottom: 2px solid var(--outline-color);
}

.three {
    border-left: 2px solid var(--outline-color);
    border-bottom: 2px solid var(--outline-color);
}

.four {
    border-top: 2px solid var(--outline-color);
    border-right: 2px solid var(--outline-color);
    border-bottom: 2px solid var(--outline-color);
}

.five {
    border-top: 2px solid var(--outline-color);
    border-left: 2px solid var(--outline-color);
    border-right: 2px solid var(--outline-color);
    border-bottom: 2px solid var(--outline-color);
}

.six {
    border-top: 2px solid var(--outline-color);
    border-left: 2px solid var(--outline-color);
    border-bottom: 2px solid var(--outline-color);
}

.seven {
    border-top: 2px solid var(--outline-color);
    border-right: 2px solid var(--outline-color);
}

.eight {
    border-top: 2px solid var(--outline-color);
    border-left: 2px solid var(--outline-color);
    border-right: 2px solid var(--outline-color);
}

.nine {
    border-top: 2px solid var(--outline-color);
    border-left: 2px solid var(--outline-color);
}

.circle::before {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.8);
    height: calc(var(--square-size) * 0.8);
    border-radius: 50%;
    background-color: var(--outline-color);
    position: absolute;
}

.circle::after {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.55);
    height: calc(var(--square-size) * 0.55);
    border-radius: 50%;
    background-color: var(--background-color);
    position: absolute;
}

.cross::before {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.9);
    position: absolute;
    height: calc(var(--square-size) * 0.13);
    rotate: 45deg;
    background-color: var(--outline-color);
}

.cross::after {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.9);
    position: absolute;
    height: calc(var(--square-size) * 0.13);
    rotate: -45deg;
    background-color: var(--outline-color);
}


.hovercircle::before {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.8);
    height: calc(var(--square-size) * 0.8);
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: absolute;
}

.hovercircle::after {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.55);
    height: calc(var(--square-size) * 0.55);
    border-radius: 50%;
    background-color: var(--background-color);
    position: absolute;
}

.hovercross::before {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.9);
    position: absolute;
    height: calc(var(--square-size) * 0.13);
    rotate: 45deg;
    background-color: var(--secondary-color);
}

.hovercross::after {
    content: "";
    display: inline-block;
    width: calc(var(--square-size) * 0.9);
    position: absolute;
    height: calc(var(--square-size) * 0.13);
    rotate: -45deg;
    background-color: var(--secondary-color);
}